.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 900px; 
    width: 90%;
    text-align: left;
    background-color: #f2f9ff;
    border-radius: 10px;
    padding: 20px;
}

.communitycard-displaycard-center {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
}

.centered-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center; 
  }

.communitycard-display {
    width: 100%;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: left; 
}

textarea {
    height: 150px;
    resize: vertical;
    text-align: left;
}

.inputContainer {
    margin-bottom: 20px;
    text-align: left;
}

.inputContainer p {
    font-weight: 600;
    margin-bottom: 8px;
    color: #555;
    text-align: left; 
}

.post-divider {
    border: 0;
    border-top: 1px solid #ccc;  
    margin: 10px 0; 
    width: 100%; 
  }

.errorLabel {
    color: rgb(98, 0, 0);
    font-size: 12px;
}


  