:root {
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
  --gradient-bg: radial-gradient(circle, #dceefc, #95d3ff);
}

body {
  background: var(--gradient-bg); /* Radial gradient with warm tones */
  color: #2e2e2e;
  font-family: 'Alike Angular', serif;
  margin: 0;
  padding: 0;
}

h1, h2, p, a {
  font-family: 'Alike Angular', serif;
}

.home-header {
  text-align: center; 
}

.home-h1, .home-h2 {
  text-align: center;
  font-family: 'Alike Angular', serif;
  line-height: 1.2;
}

.home-h1 {
  font-size: 140px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.home-h2 {
  margin: 0;
}

.center-text {
  text-align: center;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding-top: 50px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(106, 36, 36);
  color: var(--link);
  padding: 10px 0;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav li {
  display: inline;
}

nav a,
nav button {
  color: var(--link);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
  background: none;
  border: none;
  cursor: pointer;
}

nav a:hover,
nav button:hover {
  color: #ff8b8b;
}
