.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 20px auto;
  text-align: left;
  margin-top: 120px; 
  background-color: #f2f9ff;
  border-radius: 10px;
  padding: 20px;
}

.communitycard-displaycard-center {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start; 
  margin-top: 20px;
  padding: 20px; 
  text-align: left;
}

.communitycard-display {
  width: 100%;
  max-width: 600px;
  margin: 80px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: left;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: left;
}

textarea {
  height: 150px;
  resize: vertical;
  text-align: left;
}

.inputContainer {
  margin-bottom: 20px;
}

.inputContainer p {
  font-weight: 600;
  margin-bottom: 8px;
  color: #555;
}

.errorLabel {
  color: rgb(98, 0, 0);
  font-size: 12px;
}
